{% extends "home.html" %}

{% block content %}
<section>
    <h1>Boston Prediction Page</h1>
    {% if not json %}
    <div class="alert alert-danger" role="alert">
        Empty parameters in URL, you must specify at least 3 params into URL "?zn=XXX&rm=XXX&three=XXX&b=XXX"
    </div>
    {% endif %}
    <h2>Scoring All Features model</h2>
    {% if json %}
    <table class="score-table">
        <label for="">Score</label>
        <tr>
            <th>Test</th>
            <th>Train</th>
        </tr>
        <tr>
            <td>{{json[0]}}</td>
            <td>{{json[1]}}</td>
        </tr>
    </table>
    {% endif %}
    <form action="POST">
        <p>Select how much features you want as an input</p>
        {{ wtf.quick_form(form) }}
    </form>
    <h2>Prediction Result for 3 feature model</h2>
    {% if json %}
    {{json[2]}}
    {% endif %}
</section>

{% endblock %}
