<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
    <!-- Bootstrap5 CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <header>
        <div>
            <strong>
                <nav>
                    <h1>My First Flask App</h1>
                    <ul class="menu">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('predict') }}">Predict Iris</a></li>
                        <li><a href="{{ url_for('predictBoston') }}">Predict Boston</a></li>
                        <li><a href="{{ url_for('hello') }}">Hello world Page</a></li>
                        <li><a href="{{ url_for('double') }}">Double URL param</a></li>
                        <li><a href="{{ url_for('triple') }}">Triple URL param</a></li>
                        <li><a href="{{ url_for('users') }}">Getting Users</a></li>
                    </ul>
                </nav>
            </strong>
        </div>
    </header>

    {% block content %}
    <section class="container">
        <div class="row">
            <div class="col-6 d-flex justify-content-center flex-column">
                <p>This app is runned by <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask Python Framework</a></p>
                <img class="img-fluid" src="https://flask.palletsprojects.com/en/1.1.x/_images/flask-logo.png" alt="Flask Logo">
                <p class="pt-3">Made by <a href="https://www.dt-developpement.fr">@Tavares Dylan</a></p>
            </div>
            <div class="col-6 d-flex align-items-center flex-column">
                <h2>Prediction Web App</h2>
                <img class="img-fluid" src="https://cdn.pixabay.com/photo/2012/04/30/10/05/alligator-44597_1280.png" alt="">
            </div>
        </div>
    </section>
    {% endblock %}
</body>

</html>