{% extends "home.html" %}

{% block content %}
<section>
    <h1>Iris Prediction Page</h1>

    <p>Empty parameters in URL, you must specify "?sepal_length=XXX&sepal_width=XXX&petal_length=XXX&petal_width=XXX"</p>

    <h2>Prediction Result</h2>
    {{json}}

    <h1>With Post method</h1>
    <form action="#" method="POST">
        {{ form_iris.sl_input.label }}
        {{ form_iris.sl_input }}
        {{ form_iris.sw_input.label }}
        {{ form_iris.sw_input }}
        {{ form_iris.pl_input.label }}
        {{ form_iris.pl_input }}
        {{ form_iris.pw_input.label }}
        {{ form_iris.pw_input }}
    </form>
</section>
{% endblock %}